<div class="posts-listing">
{% for article in articles_page.object_list %}
<div class="post">
<h1 class="entry-title">
<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
</h1>
<span class="entry-meta">{{ article.locale_date }}</span>
{% if article.tags %}
<span class="entry-meta tag-list">
Tags:
<ul>
{% for tag in article.tags %}
<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
</span>
{% endif %}
<p>
{{ article.summary }}
</p>
<a class="read-more" href="{{ SITEURL }}/{{ article.url }}">Continue reading »</a>
</div>
{% endfor %}
</div>
<div class="pagination">
{% if articles_page.has_previous() %}
<a class="pagination-item older" href="{{ SITEURL }}/{{ articles_previous_page.save_as }}">Newer</a>
{% else %}
<span class="pagination-item older">Newer</span>
{% endif %}
{% if articles_page.has_next() %}
<a class="pagination-item newer" href="{{ SITEURL }}/{{ articles_next_page.save_as }}">Older</a>
{% else %}
<span class="pagination-item newer">Older</span>
{% endif %}
</div>
